body{
  background-color: black !important;
}

.navbar-light .navbar-nav .nav-link {
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: black !important;
  transition: 0.5s;
}

.navbar-light .navbar-brand{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 25px;
  margin-left: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color:rgba(238, 236, 236, 0.966);
}

.nav__right img{
  height: 30px;
  width: 30px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.app__video{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%,-50%);
  z-index: -1;
}