body{
  background-color: black !important;
}

.navbar-light .navbar-nav .nav-link {
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: black !important;
  transition: 0.5s;
}

.navbar-light .navbar-brand{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 25px;
  margin-left: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color:rgba(255, 255, 255, 0.966);
}

.nav__right img{
  height: 30px;
  width: 30px;
}

.dropdown .dropdown-menu {
  background-color: #f8f9fa!important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.app__video{
  width: 100%;
  left: 50%;
  top: 50%;
  
  margin-bottom: 0px;
}

.sections{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.sections h2{
  margin: 22px;
  font-size: 40px;
}

.sections img{
  height: 100%;
  width: 100%;
  padding: 30px;
  border-radius: 40px;
}

.brand__car{
  padding:25px;
  background-color: #D5D7CC;
}

.brand__prod{
  padding:25px;
  background-color: #F6D5B6;
}

.brand__cat{
  padding:25px;
  background-color: #D5D7CC;
}

